.css-home-ref,
.css-playlist-ref {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

body {
    background-color: #121212;
    color: white;
    font-family: Helvetica;
}

/* .css-playlists-list {
    text-decoration: none;
} */

.css-playlist {
    text-decoration: none;
    color: white;
}

.css-card {
    background: gray;
    border-radius: 20px;
    text-align: center;
}

.css-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}