.css-home-ref,
.css-playlist-ref {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

body {
    background-color: #121212;
    color: white;
    font-family: Helvetica;
}

/* .css-playlists-list {
    text-decoration: none;
} */

.css-playlist {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 220px;
    height: 280px;
}

.css-card {
    background: gray;
    border-radius: 15px;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.css-card img {
    width: 90%;
    height: 150px;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 12px;
}

.css-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}