{% extends "base.html" %}

{% block title %}Home - Spotify App{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <h1 class="css-welcome">Spotify Playlist Analyzer</h1>
    <p class="css-slogan">Discover the genres of your playlists and gain insights into your listening habits. </p>
    <button class="css-login-btn js-login-btn">Login with Spotify</button>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelector('.js-login-btn').addEventListener('click', () => {
            window.location.href = "{{ url_for('login') }}";
        });
    </script>
{% endblock %}
